// From CSStricks
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoint, $breakpoints) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// From tailwindCSS
@mixin transition-colors {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}


@mixin vertical-center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}